doctype html
html(lang='ru')
	head
		title Яндекс
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		link(rel='stylesheet', href='css/style.css')
		link(rel="shortcut icon" href="ya_fav.ico")
		script(src='js/jquery.min.js')
		script(src='js/jquery-ui.min.js')
	body
		.wrap
			.header
				.header__bar
					.header__bar__hold Картинки
						a.header__bar__link(href='#') Картинки
					.header__bar__hold Новости
						a.header__bar__link(href='#') Новости
					.header__bar__hold Видео
						a.header__bar__link(href='#') Видео
					.header__bar__hold Карты
						a.header__bar__link(href='#') Карты
					.header__bar__hold Маркет
						a.header__bar__link(href='#') Маркет
					a.header__bar__hold__more(href='#') Еще
						span &nbsp •&nbsp•&nbsp•
				.search
					.search__logo
					.search__wrap
						.search__wrap__input-box
							.search__wrap__input-box__icons
								.icon-input__clear
									.left
									.right
								.icon-input__settings
									.strike
										.trigger__buttom
									.strike
										.trigger__top
									.strike
										.trigger__buttom
							input.search-input(type='text', value='Твин Пикс')
							button.search-button Найти
			.header__back
				.ya-mail
					a(href='about-page/about.html' target='_blank') <firstletter>P</firstletter>avel Laptev
					span 214
			.search__body
				.search__body__result
					.search__body__result__afisha
						.search__body__result__afisha__movie
							i.favicon__13
							.search__body__result__afisha__movie__cover
							.search__body__result__afisha__movie__info
								a.search__body__result__afisha__movie__info__head(href='#') <b>Твин Пикс</b>
								span драма, криминал, детектив</br>1:23 мин.
								.search__body__result__afisha__movie__info__links
									a(href='#') О фильме
									a(href='#') Отзывы
								.search__body__result__afisha__movie__info__btns
									button.search__body__result__afisha__movie__info__btns__trailer-btn <span>►</span> Трейлер
									button.search__body__result__afisha__movie__info__btns__buy-tickets Купить билеты
						.search__body__result__afisha__theater 
							p Сеансы на сегодня <span>в Екатеринбурге</span>
							table.search__body__result__afisha__theater__table
								tr
									td
										a(href='#') Ретро (Лесной)
									td
										button 19:30
									td
										button 21:30
								tr
									td
										a(href='#') Киноцентр «РоликС»
									td
										button 19:45
									td
										button 22:00
									td
										button 00:50
								tr
									td
										a(href='#') Знамя
									td
										button 22:00
									td
										button 01:10
							.search__body__result__afisha__theater__other
								button Другие сеансы и кинотеатры › 
								<hr>

								//- .search__body__result__afisha__theater__table__name-col
								//- 	a(href='#') Ретро (Лесной)
								//- 	a(href='#') Киноцентр «РоликС»
								//- 	a(href='#') Знамя
								//- .search__body__result__afisha__theater__table__time-col
								//- 	button 10:30
								//- 	button 10:30
								//- 	button 10:30

					.search__body__result__item
						a.search__body__result__item__head(href='#')
							i.favicon__1
							b Твин Пикс 
							— Википедия
						.search__body__result__item__options 
							a(href='#') ru.wikipedia.org
							span(value='Твин Пикс') ▼
						p.search__body__result__item__discription «Твин Пикс» (англ. Twin Peaks) — американский драматический телесериал, созданный режиссёром Дэвидом Линчем и сценаристом Марком Фростом. Премьера состоялась 12 апреля 1990 года в США.
					.search__body__result__item
						a.search__body__result__item__head(href='#')
							i.favicon__2
							<b>Твин Пикс</b> (сериал 1990 – 1991) (<b>Twin Peaks</b>, 1990)
						.search__body__result__item__options(value='film/84358/') 
							a(href='#') kinopoisk.ru
							span(value='film/84358/') ▼
						p.search__body__result__item__discription Триллер, драма, криминал <span>&nbsp•&nbsp</span>  Режиссер: Дэвид Линч, Лесли Линка Глаттер, Калеб Дешанель и др. <span>&nbsp•&nbsp</span> В ролях: Кайл МакЛоклен, Майкл Онткин, Шерил Ли и др. <span>&nbsp•&nbsp</span> История начинается с известия о находке обнаженного тела Лоры Палмер...
						.search__body__result__item__submenu
							a(href='#') Кадры
							a(href='#') Актеры
							a(href='#') Обложки
							a(href='#') Съёмки
							a(href='#') Фан-арт
							a(href='#') Обои
							a(href='#') 2 сезона
					.search__body__result__item
						a.search__body__result__item__head(href='#')
							i.favicon__3
							<b>Твин Пикс</b> (1 сезон) <b>смотреть онлайн</b> бесплатно
						.search__body__result__item__options 
							a(href='#') kinogo.co
							span(value='2594-tvin-piks-1-sezon.html') ▼
						p.search__body__result__item__discription Сообщение о смерти Лоры потрясло весь Твин Пикс и привело ее родителей в глубокое отчаяние.
					.search__body__result__item
						a.search__body__result__item__head(href='#')
							i.favicon__4
							<b>Смотреть сериал Твин Пикс</b> онлайн <b>бесплатно</b> в хорошем...
						.search__body__result__item__options 
							a(href='#') Drezka.me
							span(value='thriller/7777-tvin-piks.html') ▼
						p.search__body__result__item__discription Триллеры, драмы, детективы <span>&nbsp•&nbsp</span> Режиссер: Дэвид Линч, Лесли Линка Глаттер, Калеб Дешанель.<span>&nbsp•&nbsp</span>В ролях: Кайл МакЛоклен, Майкл Онткин, Шерил Ли и др. <span>&nbsp•&nbsp</span> Действие сериала «Твин Пикс» (Twin Peaks) разворачивается в небольшом городке...
					.search__body__result__item
						a.search__body__result__item__head(href='#')
							i.favicon__5
							<b>Твин Пикс</b>: смотреть все серии
						.search__body__result__item__options 
							a(href='#') video.yandex.ru
							&nbsp › &nbsp
							a(href='#') Твин Пикс
						.video-row
							.video-row__item
								.video-row__item__preview__1
								p твин пикс
								a(href='#') 1 сезон 1 серия
								a(href='#') <span>vk.com</span>
							.video-row__item
								.video-row__item__preview__2
								p Tween Peaks
								a(href='#') Финал сезона
								a(href='#') <span>video.yandex.ru</span>
							.video-row__item
								.video-row__item__preview__3
								p skaeP neewT
								a(href='#') mra eht ma i 
								a(href='#') <span>Bob-film.net</span>
							.video-row__more
								p •</br>•</br>•
					.search__body__result__item
						a.search__body__result__item__head(href='#')
							i.favicon__6
							Отель <b>Твин Пикс</b> (Россия, Санкт-Петербург) — отзывы, фото, цены 
						.search__body__result__item__options 
							a(href='#') Яндекс.Путешествия
							&nbsp › &nbsp
							a(href='#') Россия
							&nbsp › &nbsp
							a(href='#') Санкт-Петербург
							&nbsp › &nbsp
							a(href='#') Твин Пикс
						p.search__body__result__item__discription Отзывы, фото, сравнение цен от систем онлайн-бронирования, подробная информация об отеле, интересные факты и рейтинг — мнения туристов об отеле <b>Твин Пикс</b>
					.search__body__result__item
						a.search__body__result__item__head(href='#')
							i.favicon__7
							<b>Твин Пикс</b> (1 сезон) <b>смотреть онлайн</b> бесплатно
						.search__body__result__item__options 
							a(href='#') seasonvar.ru
							span(value='serial-449-Tvin_Piks-1-season.html') ▼
						p.search__body__result__item__discription Сериалы <span>&nbsp•&nbsp</span> Режиссер: Дэвид Линч, Дайан Китон, Джонатан Сэнгер <span>&nbsp•&nbsp</span> В ролях: Кайл МакЛоклен, Майкл Онткин, Шерил Ли и др. <span>&nbsp•&nbsp</span> События сериала разворачиваются вокруг расследования ужасающего убийства старшеклассницы Лоры Палмер.
					.search__body__result__item
						a.search__body__result__item__head(href='#')
							i.favicon__8
							<b>Сериал Твин Пикс</b> 1 сезон <b>Twin Peaks</b> смотреть онлайн...
						.search__body__result__item__options(value='film/84358/') 
							a(href='#') baskino.club
							&nbsp › &nbsp
							a(href='#') Сериалы
							span(value='Твин Пикс') ▼
						p.search__body__result__item__discription Я хочу поделиться своим отзывом о <b>телесериале «Твин Пикс»</b>, который я посмотрела давно, но он отложился у меня в памяти...
					.search__body__result__item
						a.search__body__result__item__head(href='#')
							i.favicon__9
							<b>Твин Пикс</b> - смотреть онлайн <b>бесплатно</b> в хорошем качестве
						.search__body__result__item__options 
							a(href='#') gidonline.club
							span(value='2012/05/tvin-piks/') ▼
						p.search__body__result__item__discription Детектив, драма, криминал. Режиссер: Дэвид Линч. В сюжете культового американского детективного сериала <b>«Твин Пикс»</b> специальный агент ФБР Дейл Купер прибывает в небольшой, тихий городок на северо-западе штата Вашингтон...
					.search__body__result__item
						a.search__body__result__item__head(href='#')
							i.favicon__10
							<b>Твин Пикс (Twin Peaks)</b> 1990-1991 <b>смотреть онлайн</b>...
						.search__body__result__item__options(value='film/84358/') 
							a(href='#') online-life.cc
							span(value='1542-tvin-piks-19...') ▼
						p.search__body__result__item__discription Зарубежные сериалы, детектив, драма. Один из лучших и популярнейших сериалов в истории Голливуда, «Твин Пикс» начинается с того, что на берегу озера обнаруживают труп зверски убитой молодой девушки.
					.search__body__result__item
						a.search__body__result__item__head(href='#')
							i.favicon__11
							Скачать <b>сериал Твин Пикс</b> сезон 1,2 / <b>Twin Peaks</b>...
						.search__body__result__item__options 
							a(href='#') fast-torrent.ru
							span(value='film/tvin-piks.html') ▼
						p.search__body__result__item__discription В ролях: Дэвид Линч, Лесли Линка Глаттер, Калеб Дешанель и др. <span>&nbsp•&nbsp</span> Сериал «Твин Пикс» рассказывает о таинственном преступлении, произошедшем в одноименном городке. Убита школьница Лора Палмер.
					.search__body__result__item
						a.search__body__result__item__head(href='#')
							i.favicon__12
							b Twin Peaks
						.search__body__result__item__options(value='film/84358/') 
							a(href='#') twinpeaks.narod.ru
							span(value='twinpeaks.narod.ru') ▼
						p.search__body__result__item__discription обро пожаловать в Твин Пикс Сайт переезжает на twinpeaks.heldir.com.
					.search__body__more-btn
						Показать ещё
				.search__body__helper
					.video-snippet
						.video-snippet__cover
							.video-snippet__cover__image
							.video-snippet__cover__title
								p США, 1990—1991
								span Твин Пикс
								p Сериал, Триллер
							.video-snippet__cover__btns
								.raiting__btns
									.raiting__btns__item
										a.raiting__btns__item__rate.top-rate(href='#') 8.6
										a.raiting__btns__item__imdb-label(href='#') IMDb
									.raiting__btns__item
										a.raiting__btns__item__rate.top-rate(href='#') 8.5
										a.raiting__btns__item__kinopoisk-label(href='#') КиноПоиск
							.trailer__btn
								button <span>►</span> Трейлер
							.video-snippet__cover__info
								p +16
						.video-snippet__discription
							История начинается с известия о находке обнаженного тела Лоры Палмер, «завернутого в полиэтилен» и выброшенного волнами на берег озера. В ходе расследования перед внимательными взглядами агента Купера... 
							a(href='#') Читать дальше
						.video-snippet__team
							.video-snippet__team__actors
								a.video-snippet__team__actors__header(href='#') Актеры
								.video-snippet__team__actors__row
									.video-snippet__team__actors__row__item
										.video-snippet__team__actors__row__item__photo1
										a(href='#') Кайл МакЛахлен
									.video-snippet__team__actors__row__item
										.video-snippet__team__actors__row__item__photo2
										a(href='#') Майкл Онткин
									.video-snippet__team__actors__row__item
										.video-snippet__team__actors__row__item__photo3
										a(href='#') Шерил Ли
									.video-snippet__team__actors__row__item
										.video-snippet__team__actors__row__item__photo4
										a(href='#') Рэй Уайз
									.video-snippet__team__actors__row__item
										.video-snippet__team__actors__row__item__photo5
										a(href='#') Мигель Феррер
									.video-snippet__team__actors__row__item__all-btn
										a(href='#') Все актеры
									.video-snippet__team__actors__row__item__all-btn__after
							.video-snippet__team__others
								.video-snippet__team__others__item
									.video-snippet__team__others__item__header Режиссеры:
									.video-snippet__team__others__item__links
										a(href='#') Марк Фрост, 
										a(href='#') Лесли Линка Глаттер, 
										a(href='#') Дайан Китон, 
										a(href='#') Стивен 
										a(href='#') …
								.video-snippet__team__others__item
									.video-snippet__team__others__item__header Музыка:
									.video-snippet__team__others__item__links
										a(href='#') Анджело Бадаламенти
								.video-snippet__team__others__item
									.video-snippet__team__others__item__header Продюсеры:
									.video-snippet__team__others__item__links
										a(href='#') Марк Фрост, 
										a(href='#') Харли Пейтон, 
										a(href='#') Тим Харберт
						<hr>
						.video-snippet__also
							a.video-snippet__also__header(href='#') Так же смотрят
							.video-snippet__also__row
								.video-snippet__also__row__item
									.video-snippet__also__row__item__cover1
									a(href='#') Настоящий детектив
									br
									span 2014
								.video-snippet__also__row__item
									.video-snippet__also__row__item__cover2
									a(href='#') Малхолланд Драйв
									br
									span 2001
								.video-snippet__also__row__item
									.video-snippet__also__row__item__cover3
									a(href='#') Секретные материалы
									br
									span 1993
								.video-snippet__also__row__item
									.video-snippet__also__row__item__cover4
									a(href='#') Убийство
									br
									span 2011
								.video-snippet__also__row__item
									.video-snippet__also__row__item__cover5
									a(href='#') Синий бархат
									br
									span 1986
								.video-snippet__also__row__item__all-btn
									a(href='#') Все фильмы
								.video-snippet__also__row__item__all-btn__after
					.underlinks
						a(href='#') Википедия
						a(href='#') КиноПоиск
						a(href='#') kinofilms.ua
						a(href='#') Сообщить об ошибке
					.also-search
						.also-search__header Вместе с <b>«твин пикс»</b> ищут:
						.also-search__row
							.also-search__col
								a(href='#') шерилин фенн
								a(href='#') лара флинн бойл
								a(href='#') мэдхен амик
							.also-search__col
								a(href='#') рэй уайз
								a(href='#') кайл маклахлен
								a(href='#') ли шерил
							.also-search__col
								a(href='#') хизер грэм
								a(href='#') билли зейн
								a(href='#') дэвид линч

		footer.footer
			.footer__othersearches
				.footer__othersearches__wrap
					.footer__othersearches__wrap__location
						a(href='#') Екатеринбург
					.footer__othersearches__wrap__searchsystem
						a(href='#') Bing
						a(href='#') Google
						a(href='#') Mail.ru
				.footer__menu
					.footer__menu__wrap
						ul
							a(href='#') Клавиатура
							a(href='#') Настройки
							a(href='#') Приложения
							a(href='#') Обратная связь
							a(href='#') Помощь
						ul
							a(href='#') Реклама
							a(href='#') Статистика
							a(href='#') Лицензия на поиск
							a(href='#') О компании
							span ©1997—2016 ООО «Яндекс» &nbsp&nbsp 0+

		.popup
			.popup__search-path 
				span ›
				a(href='#') 
				span ›
			a(href='#') Сохраненная копия
			a(href='#') Показать еще с сайта
			a(href='#') Пожаловаться

	script(src='js/main.js')

//- найдётся всё -//