doctype html
html(lang='ru')
	head
		title Почему так?
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		link(rel='stylesheet', href='css/style.css')
		link(rel="shortcut icon" href="ya_fav.ico")
	body
		.wrap
			.header
				a(href="../index.html") Почему так? </br>
				span если кратко
			section
				h2 Учимся смотреть прямо
				img(src="img/straight_ico.svg" alt="Бородатый дизайнер")
			section
				h2 Больше контекста
				img(src="img/context_ico.svg" alt="Ничего лишнего")
			section
				h2 Фокус-покус!
				img(src="img/pokus_ico.svg" alt="Паддинги и марджины")
			section
				h2 А еще Драг энд Дроп
				img(src="img/dragdrop_ico.svg" alt="Бдыж!")
		footer
			h2 Cпасибо!
